@(columns: Seq[Col[_]], rows: Seq[(Seq[(Col[_], String, Option[String])], Seq[(String, String)])], paginated: Paginated[_], updateTarget: String, maybeCreateCall: Option[Call])(implicit messages: Messages)
@import _root_.xcala.play.extensions.PaginatedPersistor._
<div class="pull-right">
	<label>@Messages("foundResult"):</label>
	<span>@{"%,d".format(paginated.totalCount)}</span>
</div>

@maybeCreateCall.map { createCall =>
<div class="pull-left" style="margin-top: -15px">
    <a href=@createCall.paginatedUrl(paginated) class='btn btn-default'>@Messages("new")</a>
</div>
}


<table class="table table-striped table-bordered table-thin table-hover">
	<tr>
		@columns.map { column => 
			<th@column.headerCssClass.map(c => Html(s" class='${c}'"))>
				@gridHeader(column.name, column.sortExpression.toString, paginated, updateTarget)
			</th>
		}
	</tr>
	@rows.map { case (row, attributes) =>
		<tr @attributes.map{ case (k, v)=> @k=@{v}}>
			@row.map { case (_, value, css) =>
				<td@css.map(c => Html(s" class='${c}'"))>
					@Html(value)
				</td>
			}
		</tr> 
	}
</table>