@(label: String, value: Any, labelDivSize: Int = 2, copyToClipboardValue: Option[String] = None, style: Option[String] = None)(implicit messages: Messages)
<div class="form-group">
	<label class="col-sm-@labelDivSize control-label">@Messages(label)</label>
	<div class="col-sm-@(12 - labelDivSize)">
		<p class="form-control-static"  @style.map(s=>Html(s"style='$s'"))>
			@value

			@copyToClipboardValue.map { clipboardValue =>
				<span class="clipboard fa fa-copy" data-clipboard-text="@clipboardValue"></span>
			}
		</p>
	</div>
</div>
