@(collectionField: Field, args: (Symbol, Any)*)(inputBuilder: Field => Html)(implicit lang: Lang, fieldConstructor: helper.FieldConstructor)

@collectionFieldBuilder(field: Field) = {
    <div class="row collection-field">
        <div class="col-sm-10">
            @inputBuilder(field)
        </div>
        <a class="btn btn-danger collection-remove-btn">@Messages("remove")</a>
    </div>
}

@helper.input(collectionField, Seq('_ignoreFormControlClass -> true, '_inputDivCol -> 10) ++ args:_*) { (id, name, value, args) =>
    <div id="@id" class="collection-input" data-collection-scope="@name">
        @helper.repeat(collectionField, 0) { field =>
            @collectionFieldBuilder(field)
        }    

        <div class="collection-new-btn-container">
            <a class="btn btn-success collection-new-btn">@Messages("new")</a>
        </div>
        
        <div style="display: none" class="collection-template">
            @collectionFieldBuilder(collectionField("[x]"))
        </div>
    </div>
}