@(field: Field, args: (Symbol, Any)*)(implicit lang: Lang)
<div class="file-selector">
    <div class="input-group">
        <input type="text" id="@field("text").id" class="form-control file-selector-text" disabled>
        <span class="input-group-btn">
            <button type="button" class="btn btn-default file-selector-clear">
                <span class="glyphicon glyphicon-remove small"></span>
            </button>
            <button type="button" class="btn btn-default file-selector-btn" @args.filter(_._1 == '_fileType).map{fileType => data-fileType="@fileType._2"}>
                <span class="glyphicon glyphicon-folder-open small"></span>
            </button>
        </span>
    </div>
    <input type="hidden" name="@field.name" id="@field.id" value="@field.value" class="file-selector-field">
</div>
