@(field: Field, fileCall: BSONObjectID => Call, args: (Symbol, Any)*)(implicit fieldConstructor: views.html.helper.FieldConstructor, lang: Lang)

@helper.input(field, (args :+ ('_ignoreFormControlClass -> true)):_*) { (id, name, value, args) =>
	<div class="row">
		<div class="col-xs-8">
			@defining(field(_root_.xcala.play.controllers.WithFileUploader.AutoUploadSuffix)) { fileUploadField =>
				<input type="file" name="@fileUploadField.name" id="@fileUploadField.id" @toHtmlArgs(args)>
			}
			@xcala.play.inputHidden(field)
		</div>
		<div class="col-xs-4">
			@field.value.flatMap(BSONObjectID.parse(_).toOption).map { id =>
				<a class="btn btn-warning btn-sm" target="_blank" href="@fileCall(id)">
					<span class="glyphicon glyphicon-download-alt"></span> @Messages("download")
				</a>	
			}
		</div>
	</div>
}
